/* additional colors from the tango theme */
/* yellow */
.tyellow1 {
    color: #fce94f;
}

.tyellow2 {
    color: #edd400;
}

.tyellow3 {
    color: #c4a000;
}

/* orange */
.torange1 {
    color: #fcaf3e;
}

.torange2 {
    color: #f57900;
}

.torange3 {
    color: #c35c00;
}

/* brown */
.tbrown1 {
    color: #e9b96e;
}

.tbrown2 {
    color: #c17d11;
}

.tbrown3 {
    color: #8f5902;
}

/* green */
.tgreen1 {
    color: #8ae234;
}

.tgreen2 {
    color: #73d216;
}

.tgreen3 {
    color: #4e9a06;
}

/* blue */
.tblue1 {
    color: #729fcf;
}

.tblue2 {
    color: #3465a4;
}

.tblue3 {
    color: #204a87;
}

/* purple */
.tpurple1 {
    color: #ad7fa8;
}

.tpurple2 {
    color: #75507b;
}

.tpurple3 {
    color: #5c3566;
}

/* red */
.tred1 {
    color: #ef2929;
}

.tred2 {
    color: #cc0000;
}

.tred3 {
    color: #a40000;
}

/* light gray */
.tlgray1 {
    color: #eeeeec;
}

.tlgray2 {
    color: #d3d7cf;
}

.tlgray3 {
    color: #babdb6;
}

/* dark gray */
.tdgray1 {
    color: #888a85;
}

.tdgray2 {
    color: #555753;
}

.tdgray3 {
    color: #2e3436;
}
