/* .highlight .hll { background-color: #ffffcc; font-family: 'Fira Code' } */
.highlight .hll { background-color: #fef9d3; font-family: 'Fira Code' }
.highlight .c { color: #408090; font-style: italic; font-family: 'Fira Code' } /* Comment */
.highlight .err { border: 1px solid #FF0000; font-family: 'Fira Code' } /* Error */
/* .highlight .k { color: #007020; font-weight: bold; font-family: 'Fira Code' } /1* Keyword *1/ */
.highlight .k { color: #4e9a06; font-weight: bold; font-family: 'Fira Code' } /* Keyword */
/* .highlight .o { color: #666666; font-family: 'Fira Code' } /1* Operator *1/ */
.highlight .o { color: #888a85; font-family: 'Fira Code' } /* Operator */
.highlight .cm { color: #408090; font-style: italic; font-family: 'Fira Code' } /* Comment.Multiline */
.highlight .cp { color: #007020; font-family: 'Fira Code' } /* Comment.Preproc */
.highlight .c1 { color: #408090; font-style: italic; font-family: 'Fira Code' } /* Comment.Single */
.highlight .cs { color: #408090; background-color: #fff0f0; font-family: 'Fira Code' } /* Comment.Special */
.highlight .gd { color: #A00000; font-family: 'Fira Code' } /* Generic.Deleted */
.highlight .ge { font-style: italic; font-family: 'Fira Code' } /* Generic.Emph */
.highlight .gr { color: #FF0000; font-family: 'Fira Code' } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold; font-family: 'Fira Code' } /* Generic.Heading */
.highlight .gi { color: #00A000; font-family: 'Fira Code' } /* Generic.Inserted */
.highlight .go { color: #303030; font-family: 'Fira Code' } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold; font-family: 'Fira Code' } /* Generic.Prompt */
.highlight .gs { font-weight: bold; font-family: 'Fira Code' } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; font-family: 'Fira Code' } /* Generic.Subheading */
.highlight .gt { color: #0040D0; font-family: 'Fira Code' } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold; font-family: 'Fira Code' } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold; font-family: 'Fira Code' } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold; font-family: 'Fira Code' } /* Keyword.Namespace */
.highlight .kp { color: #007020; font-family: 'Fira Code' } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold; font-family: 'Fira Code' } /* Keyword.Reserved */
.highlight .kt { color: #902000; font-family: 'Fira Code' } /* Keyword.Type */
.highlight .m { color: #208050; font-family: 'Fira Code' } /* Literal.Number */
.highlight .s { color: #4070a0; font-family: 'Fira Code' } /* Literal.String */
.highlight .na { color: #4070a0; font-family: 'Fira Code' } /* Name.Attribute */
.highlight .nb { color: #007020; font-family: 'Fira Code' } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold; font-family: 'Fira Code' } /* Name.Class */
.highlight .no { color: #60add5; font-family: 'Fira Code' } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold; font-family: 'Fira Code' } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold; font-family: 'Fira Code' } /* Name.Entity */
.highlight .ne { color: #007020; font-family: 'Fira Code' } /* Name.Exception */
/* .highlight .nf { color: #06287e; font-family: 'Fira Code' } /1* Name.Function *1/ */
.highlight .nf { color: #204a87; font-family: 'Fira Code' } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold; font-family: 'Fira Code' } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold; font-family: 'Fira Code' } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold; font-family: 'Fira Code' } /* Name.Tag */
.highlight .nv { color: #bb60d5; font-family: 'Fira Code' } /* Name.Variable */
/* .highlight .ow { color: #007020; font-weight: bold; font-family: 'Fira Code' } /1* Operator.Word *1/ */
.highlight .ow { color: #4e9a06; font-weight: bold; font-family: 'Fira Code' } /* Keyword */
.highlight .w { color: #bbbbbb; font-family: 'Fira Code' } /* Text.Whitespace */
.highlight .mf { color: #208050; font-family: 'Fira Code' } /* Literal.Number.Float */
.highlight .mh { color: #208050; font-family: 'Fira Code' } /* Literal.Number.Hex */
.highlight .mi { color: #208050; font-family: 'Fira Code' } /* Literal.Number.Integer */
.highlight .mo { color: #208050; font-family: 'Fira Code' } /* Literal.Number.Oct */
.highlight .sb { color: #4070a0; font-family: 'Fira Code' } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0; font-family: 'Fira Code' } /* Literal.String.Char */
.highlight .sd { color: #4070a0; font-style: italic; font-family: 'Fira Code' } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0; font-family: 'Fira Code' } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold; font-family: 'Fira Code' } /* Literal.String.Escape */
.highlight .sh { color: #4070a0; font-family: 'Fira Code' } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic; font-family: 'Fira Code' } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09; font-family: 'Fira Code' } /* Literal.String.Other */
.highlight .sr { color: #235388; font-family: 'Fira Code' } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0; font-family: 'Fira Code' } /* Literal.String.Single */
.highlight .ss { color: #517918; font-family: 'Fira Code' } /* Literal.String.Symbol */
.highlight .bp { color: #007020; font-family: 'Fira Code' } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bb60d5; font-family: 'Fira Code' } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5; font-family: 'Fira Code' } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5; font-family: 'Fira Code' } /* Name.Variable.Instance */
.highlight .il { color: #208050; font-family: 'Fira Code' } /* Literal.Number.Integer.Long */

.highlight .n { font-family: 'Fira Code'; }
.highlight .p { font-family: 'Fira Code'; }
